.about {
    background: var(--color-de-back);
    padding: 36px;
}

.about__container {
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.about__title {
    width: 137px;
    height: 38px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/*Mobile*/
@media (max-width: 450px) {
    
}
