.formcontato__contacto {
    justify-content: center;
    gap: 10px;
    align-items: center;

}
.formcontato__boxes {
    justify-content: center;
    gap: 5px;
    align-items: center;
}


.formcontato__text {
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.formcontato__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.formcontato__subtext {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
}


.icon__box {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    transition: all ease-in-out .3s;
    margin-top: 20px;
    margin-right: 5px;
    margin: 5px;
    text-align: center;
    align-items: center;
  }
  
.icon__box:hover {
    background-color: #ffffff;
    color: black;
}
.link__box {
    color: #ffffff;
    line-height: 36px;
    cursor: pointer;
    transition: all ease-in-out .3s;
    margin-top: 20px;
    margin-right: 5px;
    margin: 5px;
    text-align: center;
    align-items: center;
    text-decoration: none;
  }
