.experience {
    align-items: center;
    padding: 0px;
    gap: 32px;
}

.experience__section__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;
    /* Inside auto layout */
}

.experiencie__box {
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.experience__img {
    width: 752px;
    height: 406px;
    border-radius: 0px;
}

.experience__info {
    padding: 0px;
    gap: 8px;
    /* Inside auto layout */
}
.experience__title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.experience__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.experience__description{
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.experiencia__botao--repo {
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 116px;
    height: 51px;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    cursor: pointer;

}

.experience__botao--demo {
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 105px;
    height: 51px;
    background: #2A7AE4;
    color: var(--color-de-letra);
    cursor: pointer;
}



.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 400px + 3em);
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    width: 100%;
    height: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1-1:checked ~ .control-1-1,
#slide-2-1:checked ~ .control-2-1,
#slide-3-1:checked ~ .control-3-1 {
    display: block;
}
#slide-1-2:checked ~ .control-1-2,
#slide-2-2:checked ~ .control-2-2,
#slide-3-2:checked ~ .control-3-2 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1-1:checked ~ .control-1-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2-1:checked ~ .control-2-1 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3-1:checked ~ .control-3-1 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#slide-1-2:checked ~ .control-1-2 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2-2:checked ~ .control-2-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3-2:checked ~ .control-3-2 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}


#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}