.tudo {
    display: flex;
    flex-direction: column;
}


.menu {
    display: flex;
}
.menu__header {
    display: flex;
}
.menu__list {
    display: flex;
}


.title__div {
    display: flex;
    width: 100%;
}
.title__container {
    display: flex;
    flex-direction: column;
}
.title__network {
    display: flex;
}



.about__container {
    display: flex;
    flex-direction: column;
}



.skills, .hobbies {
    display: flex;
    flex-direction: column;
}
.skills__line, .hobbies__line {
    display: flex;
}
.skills__box, .hobbies__box {
    display: flex;
    flex-direction: column;
}




.academic {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.academic__courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.academic__courses__box {
    display: flex;
    flex-direction: column;
}
.academic__courses__list {
    display: flex;
    flex-direction: column;
}
.info__box {
    display: flex;
    flex-direction: column;
}


.experience {
    display: flex;
    flex-direction: column;
}
.experiencie__box {
    display: flex;
}
.experience__description{
    display: flex;
}

.formcontato__contacto {
    display: flex;
    flex-direction: column;
}

.formcontato__text {
    display: flex;
    flex-direction: column;
}

.formcontato__boxes {
    display: flex;
    flex-direction: column;
}
.contac__box {
    display: flex;

}

.footer__rodape {
    display: flex;
    flex-direction: column;
}

.footer__box {
    display: flex;
    flex-wrap: wrap;
}