

.academic__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}
.academic__courses {
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-de-back);
}

.academic__courses__box {
    align-items: flex-end;
    padding: 10px;
    gap: 8px;
}


